/*代码块背景*/
:not(pre)>code[class*=language-], pre[class*=language-] {
    background-color: #f1f3f7;
}
/*代码块背景*/

/*方法和类名*/
.token.function {
    color: #ca210b;
}

/*关键词*/
.token.keyword {
    color: #708;
}

/*注释*/
.token.comment {
    color: #a50;
}

/*注解*/
.token.punctuation {
    color: #66a4c3;
}


