.side-header1{
    margin-left: 10px;
}
.side-header2{
    margin-left: 20px;
}
.side-header3{
    margin-left: 30px;
}
.side-header4{
    margin-left: 40px;
}
.side-header5{
    margin-left: 50px;
}
.side-header6{
    margin-left: 60px;
}

/* 设置计数器(非递归情况) */
#header,#blog {
    counter-reset: section-main-h1;
}
#header .side-header1,#blog h1 {
    counter-reset: section-main-h2 section-main-h3 section-main-h4 section-main-h5 section-main-h6;
}
#header .side-header2,#blog h2 {
    counter-reset: section-main-h3 section-main-h4 section-main-h5 section-main-h6;
}
#header .side-header3,#blog h3 {
    counter-reset: section-main-h4 section-main-h5 section-main-h6;
}
#header .side-header4,#blog h4 {
    counter-reset: section-main-h5 section-main-h6;
}
#header .side-header5,#blog h5 {
    counter-reset: section-main-h6;
}

/*正文*/
#blog h1::after{
    counter-increment: section-main-h1;
    content: '   ' counter(section-main-h1) ;
    visibility: hidden;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
#blog h2::after{
    counter-increment: section-main-h2;
    content: '   ' counter(section-main-h1) "." counter(section-main-h2);
    visibility: hidden;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
#blog h3::after{
    counter-increment: section-main-h3;
    content: '   ' counter(section-main-h1) "." counter(section-main-h2) "." counter(section-main-h3);
    visibility: hidden;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
#blog h4::after{
    counter-increment: section-main-h4;
    content: '   ' counter(section-main-h1) "." counter(section-main-h2) "." counter(section-main-h3) "." counter(section-main-h4);
    visibility: hidden;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
#blog h5::after{
    counter-increment: section-main-h5;
    content: '   ' counter(section-main-h1) "." counter(section-main-h2) "." counter(section-main-h3) "." counter(section-main-h4) "." counter(section-main-h5);
    visibility: hidden;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
#blog h6::after{
    counter-increment: section-main-h6;
    content: '   ' counter(section-main-h1) "." counter(section-main-h2) "." counter(section-main-h3) "." counter(section-main-h4) "." counter(section-main-h5) "." counter(section-main-h6);
    visibility: hidden;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
#blog h1:hover::after,
#blog h2:hover::after,
#blog h3:hover::after,
#blog h4:hover::after,
#blog h5:hover::after,
#blog h6:hover::after{
    visibility: visible;
}

/* 侧边栏 递归与显示 */
#header .side-header1::before{
    counter-increment: section-main-h1;
    content: counter(section-main-h1) ".";
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
#header .side-header2::before{
    counter-increment: section-main-h2;
    content: counter(section-main-h2) ".";
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
#header .side-header3::before{
    counter-increment: section-main-h3;
    content: counter(section-main-h3) ".";
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
#header .side-header4::before{
    counter-increment: section-main-h4;
    content: counter(section-main-h4) ".";
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
#header .side-header5::before{
    counter-increment: section-main-h5;
    content: counter(section-main-h5) ".";
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
#header .side-header6::before{
    counter-increment: section-main-h6;
    content: counter(section-main-h6) ".";
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}