<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <title>index</title>

    <!-- import element CSS -->
    <link href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css" rel="stylesheet">
    <!-- import element-user CSS -->
    <link href="/element.css" rel="stylesheet">
</head>
<body>

    <div id="app" class="markdown-body">
        <el-page-header @back="goBack" :content="title"></el-page-header>

        <el-input
                :autofocus="true"
                style="margin-top: 20px"
                placeholder="输入关键字进行过滤"
                v-model="filterText">
        </el-input>
        <el-tree
                class="filter-tree"
                :data="dirData"
                :props="defaultProps"
                default-expand-all
                :expand-on-click-node="false"
                :filter-node-method="filterNode"
                @node-click="handleNodeClick"
                ref="tree">
        </el-tree>
    </div>

</body>

<!--vue.js-->
<!--<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>-->
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script><!--开发的时候使用生产模式-->
<!--element.js-->
<script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
<!--axios.js-->
<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
<script>
    var vue=new Vue({
        el: '#app',
        data: {
            dirData: ${dirs!''},
            filterText: '',
            defaultProps: {
                children: 'child',
                label: 'name',
                value:'url'
            },
            title:decodeURI(window.location.pathname).substring(11)+" 文件夹目录",
        },
        created:function(){

        },
        watch: {
            filterText(val) {
                this.$refs.tree.filter(val);
            }
        },
        methods:{
            filterNode(value, data) {
                if (!value) return true;
                return data.name.toLowerCase().indexOf(value.toLowerCase()) !== -1;
            },
            handleNodeClick(data,node,nodes) {
                if(node.isLeaf){
                    window.location="/blog"+data.url;
                }
            },
            goBack() {
                history.back(-1);
            }
        }

    })
</script>

</html>