<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=0">
    <title>index</title>

    <!-- import element CSS -->
    <link href="https://cdn.bootcss.com/element-ui/2.12.0/theme-chalk/index.css" rel="stylesheet">
    <!-- import github-markdown CSS -->
    <link href="https://cdn.bootcss.com/github-markdown-css/3.0.1/github-markdown.min.css" rel="stylesheet">
    <!-- import 代码高亮 CSS -->
    <link href="https://cdn.bootcss.com/prism/1.17.1/themes/prism-okaidia.min.css" rel="stylesheet">
    <!-- import 代码行号 CSS -->
    <link href="https://cdn.bootcss.com/prism/1.17.1/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet">
    <!-- import 代码块工具条 CSS -->
    <link href="https://cdn.bootcss.com/prism/1.17.1/plugins/toolbar/prism-toolbar.min.css" rel="stylesheet">
    <!-- import header CSS -->
    <link href="/header.css" rel="stylesheet">
    <style>
        .markdown-body {
            box-sizing: border-box;
            min-width: 200px;
            max-width: 980px;
            margin: 0 auto;
            padding: 45px;
        }

        /*设置代码块中的字体大小*/
        code[class*=language-], pre[class*=language-] {
            font-size: 13px;
        }

        @media (max-width: 767px) {
            .markdown-body {
                padding: 15px;
            }
        }

        /*将级联选择器的高度变高*/
        .el-cascader-menu__wrap {
            height: 325px;
        }

        /*设置抽屉的body的滚动条*/
        .el-drawer__body {
            -webkit-box-flex: 1;
            flex: 1;
            overflow: auto;
        }

        /*设置抽屉的header的间距*/
        .el-drawer__header {
            margin-bottom: 10px;
            padding: 10px 10px 0;
        }
        .el-drawer__body {
            -webkit-box-flex: 1;
            flex: 1;
            overflow: auto;
            margin-bottom: 20px;
        }

        .header{
            display: block;
        }

        #header .header:hover  {
            background-color:yellow;
        }

        /*将最后的面包屑中的样式去除*/
        .el-breadcrumb__item:last-child .el-breadcrumb__inner a{
            font-weight: 700;
            color: #606266;
            cursor: pointer;
        }
        .el-breadcrumb__item:last-child .el-breadcrumb__inner a:hover{
            font-weight: 700;
            color: #409EFF;
            cursor: pointer;
        }

        /*分割线*/
        .el-divider--horizontal {
            display: block;
            height: 1px;
            width: 100%;
            margin: 6px 0;
        }


</style>
</head>
<body >
    <div id="app" class="markdown-body">

        <el-row type="flex" justify="space-between">
            <el-col :xs="24" :span="12">
                    <el-breadcrumb>
                        <el-breadcrumb-item>
                            <el-link href="/dirSearch">目录</el-link>
                        </el-breadcrumb-item>
                        <el-breadcrumb-item v-for="item in pathArr">
                            <el-link :href="item.url">{{item.value}}</el-link>
                        </el-breadcrumb-item>
                    </el-breadcrumb>
            </el-col>
            <el-col :xs="0" :span="5" style="align-content: end">
                <el-breadcrumb separator="|">
                    <el-breadcrumb-item>
                        <el-link href="/">首页</el-link>
                    </el-breadcrumb-item>
                    <el-breadcrumb-item>
                        <el-link @click="outline_drawer=true">大纲</el-link>
                    </el-breadcrumb-item>
                    <el-breadcrumb-item>
                        <el-link @click="dir_drawer=true">搜索</el-link>
                    </el-breadcrumb-item>
                </el-breadcrumb>
            </el-col>
        </el-row>


        <!--导航-->
        <el-drawer
                id="header"
                title="导航"
                :visible.sync="outline_drawer"
                direction="ltr"
                :modal="true"
                :size="outline_size">

            <el-tabs type="border-card" :stretch="true">
                <!--大纲-->
                <el-tab-pane label="大纲">
                    <el-input v-model="headerSearchInput" clearable placeholder="搜索大纲" @input="headerSearch"></el-input>
                    <el-link v-for="(item,index) in headerData"
                             :key="index"
                             :class="'header side-header'+item.levle"
                             :href="'#'+item.value"
                             :underline="false"
                             :type="item.label.indexOf('（***）')==-1?'default':'danger'">
                        {{ item.label.indexOf('（***）')==-1?item.label:item.label.substring(0,item.label.length-5) }}
                    </el-link>
                </el-tab-pane>
                <!--目录-->
                <el-tab-pane label="目录">
                    <el-input
                            placeholder="输入关键字进行过滤"
                            v-model="filterDirText">
                    </el-input>
                    <el-tree
                            class="filter-tree"
                            :data="dirData"
                            :props="defaultDirProps"
                            default-expand-all
                            :expand-on-click-node="false"
                            :filter-node-method="filterNode"
                            @node-click="handleNodeClick"
                            ref="tree">
                    </el-tree>
                </el-tab-pane>
            </el-tabs>
        </el-drawer>


        <!--目录结构-->
        <el-drawer
                title="全能搜索"
                direction="rtl"
                :visible.sync="dir_drawer"
                :size="dir_size">

            <el-tabs type="border-card" :stretch="true">
                <!--搜索全部-->
                <el-tab-pane label="搜索全部">
                    <el-input v-model="searchAllInput" clearable placeholder="搜索所有内容" @input="searchAll"></el-input>
                    <div v-for="item in searchAllData">
                        <el-link :underline="false" :href="'/blog'+item.sourceAsMap.blogId+'#'+item.sourceAsMap.headerName" style="display: block">
                            {{item.sourceAsMap.blogName}}：{{item.sourceAsMap.headerName}}
                        </el-link>

                        <el-link type="info" :underline="false" style="display: block" :href="'/blog'+item.sourceAsMap.blogId+'#'+item.sourceAsMap.headerName">
                            {{item.sourceAsMap.headerContent.length>200?item.sourceAsMap.headerContent.substring(0,100):item.sourceAsMap.headerContent}}
                        </el-link>
                        <el-divider></el-divider>
                    </div>

<!--                    <div style="overflow:auto;height: 300px">-->
<!--                        <ul class="infinite-list" v-infinite-scroll="load" >-->
<!--                            <li v-for="i in count" class="infinite-list-item">{{ i }}</li>-->
<!--                        </ul>-->
<!--                    </div>-->
                </el-tab-pane>
                <!--搜索所有标题-->
                <el-tab-pane label="搜索所有标题">
                    <el-input v-model="searchAllHeaderInput" clearable placeholder="搜索所有标题" @input="searchAllHeader"></el-input>
                    <div v-for="item in searchAllHeaderData">
                        <el-link :underline="false" :href="'/blog'+item.sourceAsMap.blogId+'#'+item.sourceAsMap.headerName" style="display: block">
                            {{item.sourceAsMap.headerName}}
                        </el-link>
                        <el-link type="info" :underline="false" style="display: block" :href="'/blog'+item.sourceAsMap.blogId+'#'+item.sourceAsMap.headerName">{{item.sourceAsMap.blogId}}</el-link>
                        <el-divider></el-divider>
                    </div>
                </el-tab-pane>

            </el-tabs>

        </el-drawer>
    </div>

    <!-- 博客内容（放在app外面，避免被vue解析） -->
    <div id="blog" class="markdown-body" style="padding-top: 0px">
        ${blog!}
    </div>
</body>
<!--vue.js-->
<!--<script src="https://cdn.bootcss.com/vue/2.6.10/vue.min.js"></script>-->
<script src="https://cdn.bootcss.com/vue/2.6.10/vue.common.dev.js"></script><!--开发的时候使用生产模式-->
<!--axios.js-->
<script src="https://cdn.bootcss.com/axios/0.19.0-beta.1/axios.min.js"></script>
<!--element.js-->
<script src="https://cdn.bootcss.com/element-ui/2.12.0/index.js"></script>
<!--代码高亮js-->
<script src="https://cdn.bootcss.com/prism/1.17.1/components/prism-core.min.js"></script>
<script src="https://cdn.bootcss.com/prism/1.17.1/plugins/autoloader/prism-autoloader.min.js"></script>
<!--代码行号js-->
<script src="https://cdn.bootcss.com/prism/1.17.1/plugins/line-numbers/prism-line-numbers.min.js"></script>
<!--代码工具条js-->
<script src="https://cdn.bootcss.com/prism/1.17.1/plugins/toolbar/prism-toolbar.min.js"></script>
<!--代码复制js-->
<script src="https://cdn.bootcss.com/prism/1.17.1/plugins/copy-to-clipboard/prism-copy-to-clipboard.min.js"></script>
<script>
    //全局快捷键
    var q_key=81;
    var Q_key=113;
    var w_key=87;
    var W_key=119;
    document.onkeypress=function (event) {
        var key = event.keyCode;

        console.log(key,event.shiftKey,event.altKey,event.ctrlKey)
        if(event.shiftKey && (key==q_key || key==Q_key)){
            vue.outline_drawer=!vue.outline_drawer;
            event.preventDefault();//阻止默认事件
        }else if(event.shiftKey && (key==w_key || key==W_key)){
            vue.dir_drawer=!vue.dir_drawer;
            event.preventDefault();//阻止默认事件
        }
    }

    var vue=new Vue({
        el: '#app',
        data: {
            //outline
            headerSearchInput:"",
            headerData:[],
            headerBuff:[],
            outline_drawer: false,
            outline_size: window.innerWidth<576==true?'60%':'20%',

            //dir
            filterDirText:"",
            defaultDirProps: {
                children: 'child',
                label: 'name',
                value:'url'
            },
            dirData:[],
            dir_drawer: false,
            dir_size: window.innerWidth<576==true?'70%':'30%',

            //面包屑
            pathArr: [],

            //search-header
            searchAllHeaderInput:"",
            searchAllHeaderData:[],

            //search-all
            searchAllInput:"",
            searchAllData:[],

            count: 40
        },
        watch: {
            //导航栏中目录过滤
            filterDirText(val) {
                this.$refs.tree.filter(val);
            }
        },
        created:function(){
            var _this=this;
            //获取目录数据
            axios.get('/getDir')
                .then(function (response) {
                    _this.dirData=response.data;
                });
            //获取header数据,并保存到headerBuff和headerData中
            var headers=document.getElementsByClassName("header");
            for(var i=0;i<headers.length;i++){
                var header=headers[i];
                //添加标题搜索数据
                _this.headerData.push({
                    value:header.textContent,
                    label:header.textContent,
                    levle:header.tagName.charAt(1)
                });
                _this.headerBuff=_this.headerData;//保存一份数据
            }
            //获取面包屑数据
            var path=decodeURI(window.location.pathname);
            var arr=path.substring(6).split("/");
            for(var i=0;i<arr.length;i++){
                var item=arr[i];
                var buff="/dirSearch/"+item;
                //最后一个不需要生成链接
                if(i==arr.length-1){
                    buff="javascrpit:void(0);";
                }
                this.pathArr.push({
                    value:item,
                    url:buff
                });
            }

        },
        methods:{

            load () {
                this.count += 5
                console.log("1221312")
            },
            //大纲搜索
            headerSearch:debounce(function () {
                if(this.headerSearchInput!=""){
                    this.headerData=[];
                    this.headerBuff.map(item=>{
                        if(item.label.toLowerCase().indexOf(this.headerSearchInput.toLowerCase())!=-1){
                            this.headerData.push(item);
                        }
                    })
                }else{
                    this.headerData=this.headerBuff;
                }
            },200),
            //搜索全部header
            searchAllHeader:debounce(function () {
                var _this=this;
                if(this.searchAllHeaderInput!=""){
                    this.searchAllHeaderData=[];
                    //查询所有header
                    axios.get('/searchAllHeader/'+this.searchAllHeaderInput)
                        .then(function (response) {
                            console.log(response.data)
                            _this.searchAllHeaderData=response.data;
                        });
                }else{
                    this.searchAllHeaderData=[];
                }
            },200),
            //全局搜索
            //查询所有内容
            searchAll:debounce(function () {
                var _this=this;
                if(this.searchAllInput!=""){
                    this.searchAllData=[];
                    axios.get('/searchAll/'+this.searchAllInput)
                        .then(function (response) {
                            console.log(response.data)
                            _this.searchAllData=response.data;
                        });
                }else{
                    this.searchAllData=[];
                }
            },200),
            //导航栏中目录过滤
            filterNode(value, data) {
                if (!value) return true;
                return data.name.toLowerCase().indexOf(value.toLowerCase()) !== -1;
            },
            //导航栏中目录点击
            handleNodeClick(data,node,nodes) {
                if(node.isLeaf){
                    window.location="/blog"+data.url;
                }
            },
        }

    })


    //限流函数
    function debounce(func, wait) {
        // wait：500ms；func：被频繁触发的事件
        let timeout;
        return function () {
            let context = this;
            let args = arguments;
            let later = () => {
                timeout = null;
                func.apply(context, args);
            };
            clearTimeout(timeout);
            timeout = setTimeout(later, wait);
        }
    }


    //手机端工具类
    const DomUtils={
        isMobile(){
            return window.innerWidth<576;
        },
        addGestureEvent(callback){
            let startPoint=null,endPoint=null;
            var arr=["TD","TH","PRE","SPAN","CODE"];//遇到这些元素不执行滑动操作
            document.addEventListener("touchstart",function (event) {
                let touch = event.targetTouches[0];
                startPoint={
                    x:touch.clientX,
                    y:touch.clientY
                };
            });
            document.addEventListener("touchend",function (event) {
                // console.log(event.target.tagName)

                //防止其他有滚动条的元素扰乱滑动监听
                for(var i=0;i<arr.length;i++){
                    if(event.target.tagName===arr[i]){
                        return;
                    }
                }

                let touch = event.changedTouches[0];
                endPoint={
                    x:touch.clientX,
                    y:touch.clientY
                };
                //计算手势
                let xDistance=endPoint.x-startPoint.x;
                let yDistance=endPoint.y-startPoint.y;
                if(Math.abs(xDistance)>Math.abs(yDistance)){
                    if(Math.abs(xDistance)>window.innerWidth*(1/5.0)){
                        callback(xDistance>0?"right":"left");
                    }
                }else{
                    if(Math.abs(yDistance)>window.innerHeight*(1/3.0)){
                        callback(yDistance>0?"down":"top");
                    }
                }
            })
        }
    }


    //手机端监听左右滑动事件
    if(DomUtils.isMobile()){
        DomUtils.addGestureEvent(function (event) {
            if(event==="right"){
                vue.outline_drawer=true;
            }else if(event==="left"){
                vue.dir_drawer=true;
            }
        })
    }
</script>
</html>